<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tez</string>
        <string>phonepe</string>
        <string>paytmmp</string>
        <string>credpay</string>
        <string>mobikwik</string>
        <string>freecharge</string>
        <string>in.fampay.app</string>
        <string>bhim</string>
        <string>amazonpay</string>
        <string>navi</string>
        <string>kiwi</string>
        <string>payzapp</string>
        <string>jupiter</string>
        <string>omnicard</string>
        <string>icici</string>
        <string>popclubapp</string>
        <string>sbiyono</string>
        <string>myjio</string>
        <string>slice-upi</string>
        <string>bobupi</string>
        <string>shriramone</string>
        <string>indusmobile</string>
        <string>whatsapp</string>
    </array>
</dict>
</plist>
